:root {
    --orange: #E68911;
    --blue: #5B82F9;
    --black-text-color: #070707;
    --light-orange: #fff6ec;
    --light-blue: rgb(91 130 249 / 15%);
    --black: #000;
  }

  p {
    margin: 0 !important;
    color: var(--black-text-color);
  }

  a {
    text-decoration: none !important;
    font-family: 'Open Sans';
}

  .text-center {
    text-align: center;
  }

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Inter", serif;
}

p {
    font-family: 'Open Sans';
}

.semibold {
    font-weight:600;
}

.bold {
    font-weight: 700;
}

.extraBold {
    font-weight:800;
}


/** Desktop **/

@media only screen and (min-width: 1025px) {

    .mb-100 {
        margin-bottom: 100px;
    }

    .mb-40 {
        margin-bottom: 40px !important;
    }

    .mb-60 {
        margin-bottom: 60px;
    }

    .faq-section .col-md-6.text-col.d-flex.flex-direction-column {
        flex-direction: column;
        margin-right: 30px;
        width: calc(50% - 40px);
    }


	.service-col {
        width: calc(20% - 19.2px)!important;
    }

}


/** City PopUp **/


.city-with-icon.center.p-3 {
    width: calc(14.28571% - 12px);
    text-align: center !important;
    padding: 12px !important;
    background: var(--light-orange);
    border-radius: 10px;
    margin-right: 12px;
    margin-bottom: 12px;
}

.city-with-icon.center.p-3:hover {
    outline: 1px solid var(--orange);
}

.modal-content::before {
    content: url(media/Polygon.png);
    position: absolute;
    top: -17px;
    z-index: 1;
    left: 15%;
}

div#select-city {
    cursor: pointer;
}

.select-city-popup .modal-dialog {
    max-width: 80%;
    margin-top: 7vh;
}

.select-city-popup .modal-content {
    padding: 45px 62px;
}

.modal-content, .modal-footer {
    border: none !important;
}

.modal-header h1 {
    font-size: 24px;
    line-height: 24px;
    color: var(--black);
}

.select-city-popup .modal-header {
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 30px;
}

.select-city-popup .modal-body {
    padding-top: 0;
    padding-bottom: 0;
}

.modal-header .sm {
    font-size: 14px;
    color: var(--black);
}

.modal-body .row:first-child {
    margin-bottom: 14px;
}

.modal-body .city-with-icon p {
    font-size: 15px;
}

/** Header **/

header {
    padding: 18px 0;
}

.location svg {
    margin-right: 3px;
}

header>.container-fluid {
    padding: 0;
}

header ul {
    margin: 0;
    padding: 0 !important;
}

.location {
    margin-left: 36px;
}

header i.fa.fa-angle-down {
    color: var(--black-text-color);
    font-size: 14px;
    font-weight: 300 !important;
}

a.logo {
    text-decoration: none;
}

.logo {
    font-family: "DM Sans", serif;
    font-weight: 800;
    color: var(--orange);
    font-size: 24px;
}

span.selected-city {
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.header-right-links li, .header-left li {
    float: left;
    list-style-type: none;
}

.header-right-links a.submit.cls-type {
    font-family: "Inter", serif;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    text-decoration: none;
    margin-right: 40px;
}

a.btn.book-btn {
    background: var(--orange);
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    font-family: "Open Sans", serif;
    font-weight: 600;
}

/* Home page First Section */

.banner {
    background: url(media/Mask-group.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    border-radius: 10px;
}

/* Home page three Banner Section */

.banner-1 {
    background: url(media/Maskgroup.png);
    background-size: cover;
    background-position: center;
    height: 204px;
    border-radius: 10px;
}

.banner-2 {
    background: url(media/Maskgroup-1.png);
    background-size: cover;
    background-position: center;
    height: 204px;
    border-radius: 10px;
}

.banner-3 {
    background: url(media/Maskgroup-2.png);
    background-size: cover;
    background-position: center;
    height: 204px;
    border-radius: 10px;
}

.container-fluid.three-banner .col-md-4{
    width: calc(33.33333333% - 16px);
}

.service-col {
    background: var(--light-orange);
    text-align: center;
    border: 1px solid rgb(230 137 17 / 10%);
    border-radius: 10px;
}

.service-col.p-3:hover {
    border: 1px solid var(--orange);
}

h2.title {
    font-family: 'Inter';
    font-weight: 600;
    color: var(--black-text-color);
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}

.service-col img {
    margin-bottom: 12px;
}

h5.service-title {
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 500;
    color: var(--black-text-color);
    margin-bottom: 2px;
}

p.service-price {
    font-family: 'Open Sans';
    font-size: 14px;
    color: var(--black-text-color);
    margin-bottom: 0;
}



/** How it Works Tabs **/

ul#myTab {
    border: 0;
}

li.nav-item {
    margin: 0 2.5px;
}

.how-it-works .col-md-6.right-col {
    padding-left: 0;
    padding-right: 0;
}
.how-it-works a.nav-link {
    font-family: 'Open Sans';
    font-size: 18px;
    color: rgb(7 7 7 / 60%);
    border: 1px solid rgb(0 0 0 / 30%);
    padding: 6px 20px;
}

.how-it-works a.nav-link.active {
    font-weight: 600;
    color: var(--orange);
    border-color: var(--orange);
}

.how-it-works a.nav-link:hover {
    border: 1px solid #000;
}

.how-it-works .left-col{
    background: url(media/Maskgroup-3.png);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.how-it-works .right-col {
    border: 1px solid rgb(91 130 249 / 15%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tab-pane .content {
    padding: 40px;
}


.container-fluid.content {
    position: relative;
}

.content:before {
    content: "";
    width: 1px;
    height: calc(100% - 150px);
    background: transparent;
    position: absolute;
    top: 50px;
    left: 64px;
    z-index: 0;
    border-left: 2px dotted var(--orange);
}

.how-it-works .col-1.icon {
    width: 50px;
    margin-right: 16px;
}

.how-it-works .col-11 {
    width: calc(100% - 66px);
}

.how-it-works div#icon {
    background: var(--blue);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
}

.how-it-works h3.icon-title {
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: var(--black-text-color);
}

.how-it-works p.des {
    font-family: 'Open Sans';
    font-size: 16px;
    color: var(--black-text-color);
    line-height: 1.5;
}


/** Coupons Section **/

.mobile-coupon .blue-bg,
.coupons .blue-bg {
    background: #EAF8FF;
    padding: 20px 25px;
    position: relative;
}

.mobile-coupon .orange-bg,
.coupons .orange-bg {
    background: #FFEAEE;
    padding: 20px 25px;
}

.mobile-coupon h4.off,
.coupons h4.off {
    font-family: 'Open Sans';
    font-size: 18px;
    color: var(--black-text-color);
    font-weight: 600;
    margin-bottom: 4px;
}

.mobile-coupon .coupon-des,
.coupons .coupon-des {
    font-family: 'Open Sans';
    color: var(--black-text-color);
    font-size: 16px;
    line-height: 1.5;
}

.coupons .blue-bg:before {
    content: "";
    width: 18.6px;
    height: 22px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: -10px;
    border-radius: 50%;
}

.coupons .blue-bg:after {
    content: "";
    width: 18.6px;
    height: 22px;
    background: #fff;
    position: absolute;
    top: 50%;
    right: -10px;
    border-radius: 50%;
}



.mobile-coupon .coupon-info,
.col-4.orange-bg.coupon-info {
    position: relative;
}

.coupons .orange-bg:after {
    content: "";
    width: 18.6px;
    height: 22px;
    background: #fff;
    position: absolute;
    top: 50%;
    right: -10px;
    border-radius: 50%;
}

.coupons .orange-bg:before {
    content: "";
    width: 18.6px;
    height: 22px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: -10px;
    border-radius: 50%;
}

.coupons.container {
    max-width: 1078px;
}

.coupons .blue-bg:first-child,
.coupons .orange-bg {
    margin-right: 25px;
}

.mobile-coupon .coupon-info,
.coupons .coupon-info {
    border-radius: 10px;
}

.mobile-coupon .coupon-bottom img,
.coupons .coupon-bottom img {
    margin-right: 6px;
}

.mobile-coupon, .coupon-code p,
.coupons .coupon-code p {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    color: var(--black-text-color);
}

.mobile-coupon .copy-code p,
.coupons .copy-code p {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    color: var(--black-text-color);
}

.mobile-coupon .blue-bg .copy-code p,
.coupons .blue-bg .copy-code p {
    background: #B0E1F4;
    padding: 4px 8px;
    border-radius: 5px;
}

.mobile-coupon .orange-bg .copy-code p,
.coupons .orange-bg .copy-code p {
    background: #F4B0C0;
    padding: 4px 8px;
    border-radius: 5px;
}

.mobile-coupon .blue-bg .coupon-top,
.coupons .blue-bg .coupon-top {
    padding-bottom: 19px;
    border-bottom: 1px dashed #98D1ED;
}

.mobile-coupon .coupon-bottom,
.coupons .coupon-bottom {
    padding-top: 17px;
}
.mobile-coupon .orange-bg .coupon-top,
.coupons .orange-bg .coupon-top {
    padding-bottom: 19px;
    border-bottom: 1px dashed #ED98B2;
}

button.copy-code {
    background: transparent;
    padding: 0;
    border: 0;
}

button.copy-code {
    font-family: 'Open Sans';
    font-weight: 600;
    columns: var(--black-text-color);
}


.tooltip {
    position: absolute;
    top: -32px; /* Adjust position above the button */
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    animation: fadeInOut 2s ease forwards;
}

/* Animation for fading the tooltip in and out */
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Positioning of the button relative to allow the tooltip to be positioned above it */
.copy-code {
    position: relative;
}


/**  Expert Laundry & Cleaning Services **/


.schedule-pickup.container-fluid.mb-100 {
    position: relative;
}

.schedule-pickup .text-col {
    padding: 79.5px 60px 79.5px 0;
}

.schedule-pickup h2.title {
    text-align: left;
    margin-bottom: 16px;
}

.schedule-pickup .text-col p {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 24px;
    color: var(--black-text-color);
}

.orange-btn {
    background: #E68911;
    color: #fff;
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
}
.schedule-pickup a.schedule-btn {
    margin-top: 24px;
}

.schedule-pickup .image-col {
    background: url(media/clothing.gif);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.free-pick-drop {
    max-width: 199px;
    text-align: center;
    padding: 21px 21px 17px;
    position: absolute;
    border: 1px solid #ddd;
    /* box-shadow: 0px 0px 8px #c1b5b5; */
    bottom: 38px;
    left: 45.5%;
    background: #fff;
    border-radius: 10px;
}

.free-pick-drop h6 {
    color: #0F993E;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

.free-pick-drop p {
    font-family: 'Open Sans';
    font-size: 12px;
    color: #000;
    font-weight: 600;
    line-height: 20px;
}

/** Achivements Section **/

.achievements .icon-with-text h5.title.semibold {
    font-size: 28px;
    line-height: 24px;
    color: #000;
    margin-top: 18px;
    margin-bottom: 8px;
}

.achievements h6.sub-title {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}

.achievements .text-center {
    background: #f2f5ff;
    border: 1px solid #e3eaff;
    border-radius: 10px;
    padding: 20px 10px;
}


.achievements .text-center:last-child {
    margin-right: 0 !important;
}

/** Join Us CTA **/

.join-cta.container-fluid.mb-100 {
    background: #5B82F9;
    padding: 100px;
    border-radius: 10px;
    color: #fff;
    position: relative;
    margin-top: 120px;
}

.join-cta img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.join-cta h1.semibold {
    font-size: 52px;
    line-height: 58px;
    margin-bottom: 17px;
}

.join-cta a.orange-btn {
    margin-top: 28px;
}

.join-cta p {
    color: #fff;
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
}


/** Testimonials **/

.client-reviews h2.title {
    text-align: left;
    margin-bottom: 0;
}

.client-reviews .col-10 ,.testimonials .googleIcon-with-text.col-2.d-flex.justify-content-end {
    padding: 0;
}

.rating-text h6 {
    font-size: 14px;
    color: #000;
    margin: 0;
    font-weight: 400;
}

.rating-text p.bold {
    font-size: 26px;
    line-height: 1;
}

.testimonial-slider {
    margin-top: 16px;
}

/** Slider **/

.client-reviews .slick-dots {
    bottom: -38px;
}
/**
.client-reviews .slick-track {
    margin-left: -13px;
    margin-right: -13px;
}
    **/


.client-reviews .slick-slide {
    margin: 0 13px;
}

.client-reviews .slick-arrow {
    display: none;
}
.client-reviews .slider-dots {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    border: 1px solid var(--orange) !important;
    opacity: 1;
}

.client-reviews .carousel-indicators .active {
    opacity: 1 !important;
    background: var(--orange) !important;
}

.client-reviews .testimonial {
    background: #FFF6EC;
    padding: 30px 25px 25px;
    border-radius: 10px;
    border: 1px solid #fdf0e1;
}

.carousel-item .col-lg-4 {
    padding: 0;
}



.client-reviews .five-stars {
    margin-top: 17px;
    margin-bottom: 9px;
}

.client-reviews .testimonial img {
    margin-right: 17px;
}

.client-reviews p.name.semibold {
    font-size: 16px;
    color: var(--black-text-color);
}

.client-reviews p.time {
    font-size: 12px;
    color: #878787;
}

.client-reviews p.review {
    font-size: 16px;
    color: var(--black-text-color);
    line-height: 24px;
}

.carousel-indicators {
    bottom: -54px !important;
}

.client-reviews .padding-none {
    padding-left: 0 ;
    padding-right: 0;
}


/** Mera Laundry Benefits **/

.benefits-sec {
    position: relative;
}

.benefits-sec .row.container.benefits-inner {
    max-width: 1060px;
    margin: 0 auto;
}

.benefits-sec.mb-100 {
    position: relative;
}

.benefits-inner .icon.d-flex.justify-content-center {
    margin-bottom: 12px;
}
.orange-btn.btn-top-margin {
    margin-top: 39px;
}

/** FAQs **/

.faq-section h2.title,
.faq-section .card a.btn {
    text-align: left;
}

.faq-section h2.title {
    margin-bottom: 16px;
}

.faq-section h3:focus-visible,
.faq-section a.btn:active,
.card-header:focus-visible,
.btn:focus-visible,
.btn:active {
    outline: none;
    border: none;
    box-shadow: none;
}

.faq-section img {
    margin-top: 33px;
    height: 260px;
}

.faq-section .card-header {
    border: none;
    padding: 0;
}

.faq-section .card-body {
    padding: 10px 0 0;
}

.faq-section a.accordion-btn {
    padding: 0;
    text-decoration: none;
}

.faq-section .card {
    border: none;
    padding: 16px 18px;
    border-radius: 10px;
    margin-bottom: 16px;
}
.faq-section .card:last-child {
    margin-bottom: 0;
}

.faq-section .card.open h3 {
    color: var(--orange);
    font-size: 18px;
    font-weight: 700;
}

.faq-section .card-body p {
    color: var(--black-text-color);
}

.faq-section .card h3 {
    font-size: 18px;
    font-weight: 500;
    color: var(--black-text-color);
    margin: 0;
}

.faq-section div#accordion {
    background: #e7ecfe;
    padding: 27px;
    border-radius: 10px;
}

.card-header h3:after {
    content: "\f107";
    font-family: fontawesome;
    font-weight: 100;
    position: absolute;
    right: 18px;
}

/**  Blog Section **/


.blog-section div#blogCarousel {
    padding: 0;
}
.blog-section .card {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(0 0 0 / 12%);
}
.blog-section .card-body {
    padding: 0;
}
.blog-section p.date {
    font-family: 'Open Sans';
    font-size: 14px;
    color: rgb(0 0 0 / 50%);
}

.blog-section a.read-more {
    font-size: 14px;
    font-family: 'Open Sans';
    color: orange;
    text-decoration: none;
}

.blog-section h5.card-title.semibold {
    font-size: 18px;
    color: var(--black);
    margin-bottom: 8px;
    margin-top: 20px;
}

.blog-section .blog-bottom {
    margin-top: 16px;
}

.blog-section a.semibold.read-more img {
    display: inline-block;
    margin-left: 5px;
}


.blog-slider {
    width: 100%;
    margin: 0 auto;
  }


  .blog-section .swiper-pagination-bullet-active {
    background: var(--orange) !important;
}

.blog-section span.swiper-pagination-bullet {
    background: #fff;
    border: 1px solid var(--orange) !important;
    opacity: 1;
    width: 10px;
    height: 10px;
    margin: 0 2.5px !important;
}

.swiper.blogSlider.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
    padding-bottom: 31px;
}
.swiper-pagination {
    bottom: -6px !important;
}

 /* Add space between slides but not on the outer edges */

 .blog-slider .slick-slide {
    margin: 0 15px; /* Space between slides */
  }

  .client-reviews .slick-dots li button:before,
  .blog-slider .slick-dots li button:before {
    font-size: 10px;
  }

  .client-reviews .slick-dots li,
  .blog-slider .slick-dots li {
    padding: 0 !important;
    width: 10px;
    height: 10px;

}

.client-reviews .slick-dots li button,
.blog-slider .slick-dots li button {
    width: 10px;
    height: 10px;
}

.client-reviews li.slick-active button:before,
.blog-slider li.slick-active button:before {
    background: transparent !important;
    color: transparent !important;
}

.client-reviews .slick-dots li button,
.blog-slider .slick-dots li button {
    border: 1px solid var(--orange);
    background: transparent;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0 2.5px;
}

.blog-slider ul.slick-dots {
    bottom: -30px;
}

.slick-active button {
    background: var(--orange) !important;
}

.client-reviews .slick-dots li button:before,
.blog-slider .slick-dots li button:before {
    color: transparent !important;
    opacity: 1 !important;
    border-radius: 50%;
    background: transparent !important;
    width: 0px !important;
    height: 0px !important;
    padding: 0;
    line-height: 12px;
}


.featured-section h2.title {
    margin-bottom: 23px;
}

.featured-section .image-slider .slick-track {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-flexbox;
    display: flex;
    align-items: center;
}

.serving-areas a {
    color: #000;
    text-decoration: none;
    line-height: 24px;
    font-size: 16px;
}

.container-fluid.serving-areas {
    background: rgb(91 130 249 / 10%);
}

.serving-areas h2.title {
    color: var(--orange);
    margin-bottom: 24px;
}

.container-fluid.serving-areas {
    background: rgb(91 130 249 / 10%);
    padding-top: 70px;
    padding-bottom: 62px;
    position: relative;
}

/** SERVICE PAGE **/

/** Services Section**/

.text-left {
    text-align: left !important;
}

.services-section h2.text-left.title {
    margin: 0;
}

button#selectedArea {
    background: var(--light-blue);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
}

.container-fluid.services-section {
    margin-bottom: 67px;
}

.services-section .col-6 {
    padding: 0;
}


.service-main .services-section .light-orange-bg {
    background: var(--light-orange);
    border-radius: 10px;
    padding: 21px 21px 18px;
}

.service-main .services-section span.circle {
    width: 60px;
    height: 60px;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    padding: 10px;
}

.service-main .light-orange-bg h5 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 7px;
}

.service-main .light-orange-bg>.container {
    max-width: 800px;
}

/** Hover Effect **/

.service-main .light-orange-bg .col-3:hover h5 {
    color: var(--orange);
    font-weight: 600;
}

.service-main .light-orange-bg .col-3:hover span.circle {
    background: var(--orange);
}


.service-main .light-orange-bg .col-3:hover span.circle svg path {
    stroke: #fff;
    fill: #fff;
}

.service-main .light-orange-bg .col-3:hover span.circle:first-child svg path {
    fill: none;
}

/** Dry Cleaning (per pc) **/

.dry-cleaning-prices .tab-content img {
    width: 52px;
}

.dry-cleaning-prices .col-4 {
    background: var(--light-orange);
    border: 1px solid rgb(230 137 17 / 5%);
    padding: 16px 16px 20px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 24px;
}

.dry-cleaning-prices input {
    position: absolute;
    top: 9px;
    right: 9px;
    width: 18px;
    height: 18px;
    border-radius: 50% !important;
    visibility: hidden;
}

.dry-cleaning-prices .large-text {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 36px !important;
    margin-bottom: 32px !important;
}

input:checked {
    visibility: visible !important;
    background: var(--orange) !important;
}

label {
    cursor: pointer;
}

.dry-cleaning-prices p.checkbox-title {
    font-size: 16px;
    font-weight: 600;
    color: var(--black);
    margin-top: 12px !important;
}

.dry-cleaning-prices p.price {
    font-size: 14px;
    color: var(--black-text-color);
    margin-top: 2px !important;
}

.dry-cleaning-prices a.nav-link {
    color: rgb(112 112 112 / 60%);
    border: 1px solid rgb(0 0 0 / 20%);
    border-radius: 30px;
}


.dry-cleaning-prices h3.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 29px;
}

.dry-cleaning-prices h3.title small {
    font-size: 18px;
    font-weight: 500;
}

.dry-cleaning-prices ul#myTab {
    margin-bottom: 29px;
}

.dry-cleaning-prices a.nav-link {
    font-size: 18px;
    padding: 6px 20px;
}

.dry-cleaning-prices a.nav-link.active {
    border-color: #000 !important;
}


/** Checkbox **/

/* Style for the checkbox itself (appearance removed for custom styling) */
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    appearance: none; /* Remove default styling */
    border: 2px solid #ddd;
    background-color: #fff;
    cursor: pointer;
}

/* Custom tick mark and background when checked */
input[type="checkbox"]:checked {
    background-color: var(--orange);
    border-color: var(--orange);
}

input[type="checkbox"]:checked::after {
    content: '\f00c';
    font-family: fontawesome;
    position: absolute;
    top: 1px;
    left: 3px;
    font-size: 10px;
    color: white;
}

/* Add border to the div when checkbox is checked */

.checked-border {
    border: 1px solid var(--orange) !important;
}

/** Checkbox **/


/** Schedule Page **/

.schedule-main label {
    width: 100%;
}
.schedule-main label {
    font-size: 16px;
    font-family: 'Open Sans';
    color: #000;
    font-weight: 600;
    margin-bottom: 24px;
}


.schedule-main input {
    margin-top: 6px;
}

.booking-form {
    width: 823px;
    padding: 48px 55px 52px;
    border-radius: 30px;
    border: 1px solid rgb(0 0 0 / 5%);
    box-shadow: 0px 0px 10px 0px #e6891145;
}

.schedule-main .client-reviews {
    margin-top: 112px;
}
.schedule-main h1.title.text-center {
    font-size: 32px;
    line-height: 24px;
    margin-bottom: 38px;
}


/** End of Schedule Page **/

/** Footer **/

footer>.container-fluid {
    background: var(--black-text-color);
    color: #fff;
    padding-top: 83px;
    padding-bottom: 28px;
    position: relative;
}

footer h3.logo {
    color: #fff;
}

p.short-des {
    font-family: 'Open Sans';
    font-size: 16px;
    color: #fff;
}

footer ul {
    padding-inline-start: 0;
    margin: 0;
}

footer li {
    list-style-type: none;
    font-family: 'Open Sans';
    margin-top: 16px;
}

footer li a {
    text-decoration: none;
    color: #fff ;
    font-family: 'Open Sans';
    margin-top: 16px;
}

footer .row.footer-copyright {
    padding-top: 27px;
    border-top: 1px solid rgb(255 255 255 / 10%);
    margin-top: 84px;
}

footer p.copyright.text-center {
    color: #fff;
}

footer ul.social-media li {
    float: left;
    margin-top: 0;
}

footer li:first-child {
    margin: 0;
}

footer h5.nav-title {
    margin-bottom: 20px;
}

footer li#fb {
    margin-right: 12px;
}


/** Hover Effects **/

.how-it-works a.nav-link:hover {
    background: var(--orange);
    border-color: var(--orange);
    color: #fff;
}

.coupons .col-4.blue-bg:hover {
    background: rgb(176 225 244 / 70%);
    box-shadow: 2px 2px 10px 4px rgb(176 225 244 / 36%);
}

.coupons .col-4.orange-bg:hover {
    background: rgb(244 176 192 / 37%);
    box-shadow: 2px 2px 15px 4px rgb(244 176 192 / 35%);
}

.coupon-slider .slick-active button {
    background: initial !important;
}


a.orange-btn:hover {
    display: inline-block;
    transition: ease-in-out 0.2s;
    box-shadow: 0px 0px 14px 4px rgb(230 137 17 / 43%);
    transform: translate(0, -5px);
}

@media only screen and (min-width:1078px) {
    .coupons .coupon-info {
        width: 336px;
    }
}


@media only screen and (min-width: 1025px) and (max-width:1399px) {

    header, .main {
     margin-left: 50px !important;
     margin-right: 50px !important;
     width: calc(100% - 100px) !important;
 }

 footer>.container-fluid {
    padding: 83px 50px 28px;
}
.client-reviews, .ben-section,
.blog-section .container-fluid {
    padding: 0 !important;
}
}

@media only screen and (min-width: 1400px) {

    header, .main {
     margin-left: 155px !important;
     margin-right: 155px !important;
     width: calc(100% - 310px) !important;
 }

 footer>.container-fluid {
    padding: 83px 155px 28px;
}

.client-reviews, .ben-section,
.blog-section .container-fluid {
    padding: 0 !important;
}

 }


 @media only screen and (min-width: 768px) and (max-width: 1024px) {

    .mb-100 {
        margin-bottom: 100px;
    }

    .mb-40 {
        margin-bottom: 40px !important;
    }

    .mb-60 {
        margin-bottom: 60px;
    }

    .city-with-icon.center.p-3 {
        width: calc(33.33333333% - 3.33333px);
        margin-bottom: 5px;
        margin-right: 5px;
    }

    .select-city-popup .city-with-icon:nth-child(3),
    .select-city-popup .city-with-icon:nth-child(6),
    .select-city-popup .city-with-icon:nth-child(9),
    .select-city-popup .city-with-icon:nth-child(12),
    .select-city-popup .city-with-icon:nth-child(14) {
        margin-right: 0;
    }

    .content:before {
        content: "";
        width: 1px;
        height: calc(100% - 85px);
        background: transparent;
        position: absolute;
        top: 38px;
        left: 25px;
        z-index: 0;
        border-left: 2px dotted var(--orange);
    }
}


@media only screen and (min-width: 768px) and (max-width: 1077px) {
    .coupons .coupon-info {
        width: calc(33.33333333% - 17.3333px);
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .faq-section .col-md-6.text-col.d-flex.flex-direction-column {
        flex-direction: column;
        margin-right: 30px;
        width: calc(50% - 40px);
    }

    .achievements .col-md-4 {
        flex: 0 0 auto;
        width: calc(33.33333333% - 10.666px);
    }

    .achievements .col-md-4:nth-child(3),
    .achievements .col-md-4:nth-child(6) {
        margin-right: 0 !important;
    }

    .achievements .col-md-4.text-center {
        margin-right: 16px;
        margin-bottom: 16px;
    }

    .col-md-6.right-col {
        padding-left: 30px !important;
    }

    .join-cta h1.semibold {
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 17px;
    }

    .join-cta img {
        position: absolute;
        bottom: 0;
        right: -15px;
        width: 75%;
    }

    .join-cta.container-fluid.mb-100{
        padding: 50px;
    }

    header .col-md-7 {
        display: none !important;
    }
    .faq-section .text-col p {
        font-size: 14px;
    }

    .faq-section img {
        margin-top: 20px;
        height: 190px;
    }

    .faq-section h2.title {
        margin-bottom: 10px;
    }

    .container-fluid.serving-areas {
        background: rgb(91 130 249 / 10%);
        padding-top: 70px;
        padding-bottom: 62px;
    }

}


@media only screen and (max-width: 1024px) {

    .main {
        margin-left: 16px !important;
        margin-right: 16px !important;
        width: calc(100% - 32px) !important;
        overflow: hidden;
    }

    h2.title {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 12px;
    }

    .service-col {
        width: calc(50% - 8px)!important;
    }

    .services .service-col.mb-4, .margin-bottom {
        margin-bottom: 16px !important;
    }

    .service-col img {
        margin-bottom: 8px;
}

    h5.service-title{
        font-size: 13px;
    }

    p.service-price {
        font-size: 12px;
    }

    .how-it-works ul#myTab {
        margin-bottom: 23px;
    }

    .how-it-works .left-col {
        min-height: 191px;
        border-radius: 10px;
        margin-bottom: 22px;
    }

    .how-it-works .right-col {
        border: none;
    }
    .tab-pane .content {
        padding: 0px !important;
    }


    .how-it-works .row.mb-60 {
        margin-bottom: 25px;
    }

    .schedule-pickup .image-col {
        min-height: 225px;
    }

    .free-pick-drop {
        display: none;
    }

    .schedule-pickup .text-col {
        padding: 20px 0 0;
    }


}

@media only screen and (max-width: 767px) {

    .desktop {
        display: none;
    }

    .mobile-logo {
        color: var(--orange);
        font-size: 20px;
        font-weight: bolder;
        text-transform: uppercase;
    }

    .select-city-popup .modal-dialog {
        max-width: 100%;
        margin-top: 0;
    }

    .select-city-popup .modal-dialog {
        margin: 0;
    }

    .modal-body .city-with-icon p {
        font-size: 12px;
    }

    .city-with-icon.center.p-3 {
        width: calc(25% - 3.75px);
        margin-bottom: 5px;
        margin-right: 5px;
    }

    .city-with-icon.center.p-3:nth-child(4),
    .city-with-icon.center.p-3:nth-child(8),
    .city-with-icon.center.p-3:nth-child(12) {
        margin-right: 0;
    }
    .select-city-popup .modal-content {
        padding: 72px 16px 50px;
        border-radius: 0;
    }
    span.selected-city {
        font-size: 12px;
        font-weight: 600;
    }

    .container-fluid.banner.mb-4 {
        margin-bottom: 32px;
    }

    .services h2.title {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    .services .service-col {
        padding: 12px !important;
    }

    .schedule-pickup>.row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -moz-box;
        display: -webkit-flex;
        display: flex;
        flex-direction: column-reverse;
    }

    .how-it-works .col-1.icon {
        width: 40px;
        margin-right: 15px;
    }

    .how-it-works .col-11 {
        width: calc(100% - 55px);
    }

    .how-it-works div#icon {
        width: 40px;
        height: 40px;
    }

    .how-it-works .icon img {
        width: 22px;
        height: 22px;
    }

    .how-it-works .content:before {
        content: "";
        width: 1px;
        height: calc(100% - 53px);
        background: transparent;
        position: absolute;
        top: 15px;
        left: 21px;
        z-index: 0;
        border-left: 2px dotted var(--orange);
    }

    .how-it-works .row.mb-60 {
        margin-bottom: 24px;
    }

    .schedule-pickup a.schedule-btn {
        margin-top: 23px;
    }

    .client-reviews .testimonial {
        padding: 18px;
        margin: 0;
    }

    header .col-md-7,
    .three-banner, .join-cta p,
    .faq-section .col-md-6.text-col.d-flex.flex-direction-column,
    .featured-section {
        display: none !important;
    }

    .join-cta h1.semibold {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    .join-cta img {
        position: absolute;
        bottom: 0;
        right: -15px;
        width: 212px;
    }

    .join-cta.container-fluid.mb-100 {
        padding: 18px 16px;
    }

    .schedule-pickup.container-fluid.mb-100 {
        margin-top: 41px;
        margin-bottom: 43px;
    }

    .container-fluid.mb-100 {
        margin-bottom: 32px;
    }

    .mobile-coupon,
    .coupons.container.mb-100 {
        margin-bottom: 41px;
    }

    .mobile-coupon h2.title {
        text-align: left;
    }

    .mobile-coupon .orange-bg::before,
    .mobile-coupon .blue-bg::before {
        content: "";
        width: 14px;
        height: 17px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: -7px;
        border-radius: 50%;
    }

    .mobile-coupon .orange-bg::after,
    .mobile-coupon .blue-bg::after {
        content: "";
        width: 14px;
        height: 17px;
        background: #fff;
        position: absolute;
        top: 50%;
        right: -7px;
        border-radius: 50%;
    }

    .container-fluid.serving-areas {
        background: transparent;
        padding: 0 16px 8px;
    }


    .achievements .col-lg-2.text-center {
        width: calc(50% - 8px);
        margin-bottom: 16px;
    }

    .container-fluid.mb-100.text-center.ben-section {
        margin-bottom: 35px;
    }


/** Swiper Slider **/

    .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
      }


      /* fix arrows position */
      .swiper-button-next{
        right: 10%!important;
      }

      .swiper-button-prev{
        left: 10%!important;
      }

      .swiper.blogSlider.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
        padding-bottom: 0;
    }
    .swiper-pagination {
        display: none;
    }

    .faq-section h2.title {
        margin-bottom: 11px;
    }

    .blog-section.container-fluid.mb-100 {
        margin-bottom: 42px;
    }

      .blog-section h2.title {
        text-align: left;
        padding: 0;
      }

      /** Service Page **/

      .service-main .banner {
        height: 73px;
    }

    .service-main .light-orange-bg h5 {
        font-size: 15px;
        font-weight: 500;
        margin-top: 8px;
    }

    .dry-cleaning-prices .col-md-3.col-4 {
        flex: 0 0 auto;
        width: calc(33.33333333% - 6.6666px);
        margin-bottom: 10px;
        padding: 12px;
    }

    .services-section h2.text-left.title {
        margin: 0;
    }

    .service-main .services-section .light-orange-bg {
        background: var(--light-orange);
        border-radius: 10px;
        padding: 16px 16px 11px;
    }

    .services-section .scrolling-row {
        flex-wrap: nowrap !important;
        overflow-x: scroll;
        justify-content: space-between !important;
    }

    .services-section>.row:first-child {
        margin-top: 21px;
        margin-bottom: 16px;
    }

    .container-fluid.services-section {
        margin-bottom: 34px;
    }

    .scrolling-row .col-3 {
        width: auto;
        padding: 0;
        margin-right: 24px;
    }

    /* Hide the scrollbar */
    .scrolling-row::-webkit-scrollbar {
        display: none; /* For Chrome, Safari, and Opera */
    }

    .scrolling-row {
        -ms-overflow-style: none;  /* For Internet Explorer */
        scrollbar-width: none;  /* For Firefox */
    }

    .dry-cleaning-prices ul#myTab {
        margin-bottom: 22px;
    }

    .dry-cleaning-prices h3.title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 17px;
    }

    .dry-cleaning-prices .container-fluid {
        padding: 0;
    }

    .dry-cleaning-prices a.nav-link {
        color: rgb(112 112 112 / 60%);
        border: 1px solid rgb(0 0 0 / 20%);
        padding: 4px 14px;
        border-radius: 30px;
    }

    .dry-cleaning-prices ul.nav-tabs {
        margin-bottom: 22px;
    }

    .dry-cleaning-prices .large-text {
        margin-top: 10px !important;
        margin-bottom: 20px !important;
    }
    .service-main .banner {
        height: 73px;
    }

    .service-main .container.mb-100.mobile-coupon.mb-100 {
        padding: 0;
    }

}

@media only screen and (min-width: 768px) {

    .accordion-column h2.title, .mobile-img, .services .mobile-btn {
        display: none !important;
    }

    .mobile-logo, .mobile-coupon {
        display: none;
    }

    .service-main .banner {
        height: 257px;
    }

  .services-section>.row {
    margin-top: 48px;
    margin-bottom: 21px;
}

}

@media only screen and (max-width: 991px) {

    .xsm {
        font-size: 12px !important;
    }

    .sm {
        font-size: 14px !important;
    }

    .orange-btn {
        font-size: 15px;
        padding: 5px 16px;
    }

    header ul.d-flex.align-items-center {
        justify-content: space-between;
    }

    header {
        padding: 20px 16px;
        border-top: 43px solid var(--orange);
    }

    .logo {
        font-size: 18px;
    }

    span.selected-city {
        font-size: 12px;
    }

    .banner {
        height: 186px;
    }

    .services .mobile-btn a.schedule-btn.orange-btn {
        margin-top: 24px;
    }

    .service-col img {
        margin-bottom: 8px;
    }

    .how-it-works a.nav-link {
        padding: 4px 14px;
    }

    .container-fluid.how-it-works.mb-100 {
        margin-bottom: 74px;
    }

    .how-it-works h3.icon-title,
    .how-it-works p.des {
        font-size: 14px;
    }

    .how-it-works h3.icon-title {
        margin-bottom: 7px;
    }


    .mobile-coupon h4.off,
     .coupons h4.off {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .mobile-coupon .coupon-bottom,
    .coupons .coupon-bottom {
        padding-top: 11px;
    }

    .container-fluid.how-it-works, .how-it-works>.container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    .coupons h2.title,
    .mobile-coupon h2.title
    .blog-section h2.title {
        text-align: left;
        padding: 0;
    }

    .mobile-coupon .coupon-info,
    .coupons .coupon-info {
        border-radius: 10px;
        padding: 13px 14px 16px !important;
    }

    .coupon-slider.slick-initialized.slick-slider {
        padding: 0;
    }

    .mobile-coupon .coupon-top,
    .coupons .blue-bg .coupon-top,
    .coupons .orange-bg .coupon-top {
        padding-bottom: 13px;
    }
    .schedule-pickup h2.title {
        margin-bottom: 10px;
    }

    .achievements .text-center {
        padding: 16px 10px;
    }

    .achievements .col-lg-2.text-center:nth-child(5),
    .achievements .col-lg-2.text-center:nth-child(6) {
        margin-bottom: 0 !important;
    }

    .achievements .icon-with-text h5.title.semibold {
        font-size: 16px;
        line-height: 24px;
        color: #000;
        margin-top: 10px;
        margin-bottom: 2px;
    }

    .achievements h6.sub-title {
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 0;
    }

    .achievements .icon-with-text img {
        width: 45px;
        height: 45px;
    }

    .join-cta.container-fluid.mb-100 {
        margin-top: 46px;
    }

    .join-cta a.orange-btn {
        margin-top: 0 !important;
    }

    .client-reviews .col-12.col-md-6.col-lg-6 {
        padding: 0;
        justify-content: flex-start !important;
    }
    .googleIcon-with-text.col-12.col-md-6.col-lg-6sss.d-flex.justify-content-end.align-items-center {
        justify-content: start !important;
    }

    .client-reviews h2.title {
        margin-bottom: 13px;
    }

    .client-reviews .google-img {
        margin-right: 10px;
    }

    .rating-text p.bold {
        font-size: 20px;
    }

    .rating-text img {
        margin-left: 8px;
        height: 14px;
    }

    .client-reviews.container-fluid.mb-100 {
        margin-top: 37px;
    }

    .client-reviews .google-img img {
        width: 36px;
    }

    .client-reviews .rating-text h6 {
        margin-bottom: 8px;
    }

    .client-reviews .slick-dots {
        bottom: -25px;
    }

    .client-reviews p.name.semibold {
        font-size: 14px;
    }
    .client-reviews .testimonial img {
        margin-right: 10px;
    }
    .client-reviews .five-stars {
        margin-top: 12px;
        margin-bottom: 8px;
    }

    .slick-dots li button {
        padding: 2px !important;
    }

    .client-reviews .slick-dots li button,
    .blog-slider .slick-dots li button {
        border: 1px solid var(--orange);
        background: transparent;
        border-radius: 50%;
        margin: 0.5px;
        width: 6px;
        height: 6px;
    }

    .client-reviews .slick-dots li button:before,
    .blog-slider .slick-dots li button:before {
        font-size: 0px;
        padding: 0;
        line-height: 20px;
    }
    .blog-slider .slick-dots li,
    .client-reviews .slick-dots li{
        margin: 0 2px;
    }
    .benefits-sec h2.title{
        text-align: left;
    }

    .benefits-sec .row.container.benefits-inner {
        padding: 0;
    }
    .benefits-sec .col-6.col-md-3.col-lg-3.text-center {
        padding: 16px;
        border: 1px solid rgb(0 0 0 / 10%);
        border-radius: 10px;
        margin-bottom: 16px;
        width: calc(50% - 8px);
    }

    .ben-section a.orange-btn.btn-top-margin {
        display: none;
    }
    .benefits-sec .col-6:nth-child(3),
    .benefits-sec .col-6:nth-child(4) {
        margin-bottom: 0 !important;
    }


    .container-fluid.mb-100.text-center.ben-section {
        padding: 0;
    }

    .benefits-inner .icon.d-flex.justify-content-center {
        margin-bottom: 8px;
    }

    .faq-section div#accordion {
        padding: 12px 9px;
    }

    .faq-section .card {
        padding: 12px 14px;
        margin-bottom: 8px;
    }

    .faq-section .card.open h3,
    .faq-section .card h3,
    .serving-areas a {
        font-size: 14px;
    }

    .faq-section .card-body {
        padding: 6px 0 0;
    }

    .faq-section .col-md-6.accordion-column,
    .blog-section>.row>.container-fluid {
        padding: 0;
    }
    .blog-slider .slick-slide {
        margin: 0 7px;
    }

    .blog-section h5.card-title.semibold {
        font-size: 14px;
    }

    .blog-section .card {
        padding: 12px;
    }

    .blog-section a.read-more {
        font-size: 13px;
    }

    .serving-areas h2.title {
        color: #000;
        font-weight:600;
        margin-bottom: 11px;
    }

/** Services Page **/

    .dry-cleaning-prices .col-4 {
        flex: 0 0 auto;
        width: calc(25% - 18px);
    }



    footer>.container-fluid {
        background: var(--black-text-color);
        color: #fff;
        padding-top: 40px;
        padding-bottom: 130px;
        position: relative;
    }
    img.mobile-img {
        width: 100%;
        margin-bottom: -2px;
    }

    footer h3.logo {
        font-size: 16px;
        line-height: 17px;
        margin-bottom: 10px;
    }
    footer .container-fluid {
        padding-left: 16px;
        padding-right: 16px;
    }

    footer .col-lg-2,
    footer .col-lg-3 {
        margin-top: 30px;
    }

    footer h5.nav-title {
        font-size: 16px;
        margin-bottom: 8px;
    }
    footer li.sm {
        margin-bottom: 8px;
        margin-top: 0;
    }
    ul.social-media {
        padding-top: 5px !important;
    }
    footer .row.footer-copyright {
        margin-top: 30px;
    }

    /** Mobile NavBar **/

    .mobile-menu a.text-center.xsm {
        text-align: center;
        text-decoration: none;
        color: #000;
    }
    .mobile-menu li {
        list-style-type: none;
        float: left;
    }

    .mobile-menu a.text-center img {
        display: block;
        margin: 0 auto;
    }
    .mobile-menu ul {
        margin-block-start: 0 !important;
        margin-block-end: 0 !important;
        padding-inline-start: 0 !important;
    }

    .mobile-menu.box-shadow {
        box-shadow: 0px -4px 15px rgb(0 0 0 / 15%);
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }

    .mobile-menu {
        background: #fff;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 9;
        padding: 14px 16px 17px;
    }

    span.plus-icon-circle {
        width: 55px;
        height: 55px;
        display: block;
        background: var(--orange);
        border-radius: 50%;
        text-align: center;
        line-height: 2;
        font-size: 30px;
        color: #fff;
        font-weight: 600;
    }

    span.plus-icon-circle {
        position: absolute;
        bottom: 51px;
        box-shadow: 2px 0 15px rgb(230 137 17 / 50%);
    }
    .book-now-text, .book-now-text p{
        color: var(--orange) !important;
    }

    .coupon-slider .slick-slide {
        width: 66%;  /* Set width for 1.5 slides effect */
      }
      .coupon-slider .slick-track {
        display: flex;
        justify-content: flex-start; /* Align the slides to the left */
      }

      .coupon-slider .slick-slide {
        padding-right: 10px;  /* Adjust the padding to create space between the slides */
      }
}

@media only screen and (min-width: 992px) {

    .achievements .col-lg-2.text-center {
        width: calc(16.66666667% - 20px);
    }

    .benefits-sec {
        padding: 40px 181px;
        border: 1px solid #e7ecfe;
        border-radius: 10px;
    }

    .benefits-sec:before {
        content: url(media/clean.png);
        position: absolute;
        bottom: 8px;
        left: 6px;
    }

    .benefits-sec:after {
        content: url(media/clean.png);
        position: absolute;
        top: 8px;
        right: 6px;
    }

    .benefits-sec span#circle {
        width: 55px;
        height: 55px;
        border: 1px solid rgb(91 130 249 / 20%);
        border-radius: 50%;
        box-shadow: 2px 0px 16px 0px rgb(91 130 249 / 20%);
    }

    .accordion-column h2.title,
    .mobile-img,
    .services .mobile-btn {
        display: none !important;
    }

    .mobile-menu {
        display: none;
    }


    /** Services Page **/

    .dry-cleaning-prices .col-4 {
        flex: 0 0 auto;
        width: calc(16.66666667% - 20px);
    }

}